<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionServiceImpl" class="ru.otus.service.impl.QuestionServiceImpl">
        <constructor-arg name="resourceLoader" type="org.springframework.core.io.ResourceLoader">
            <bean class="org.springframework.core.io.DefaultResourceLoader"/>
        </constructor-arg>
        <constructor-arg name="relativePath" value="/Questions.csv"/>
    </bean>
</beans>